@using Monitoria.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<div class="container-fluid" style="text-align:center">
    <div class="row" style="margin-top:10px">

        @if (Session["Nome"] != null)
        {
            var NomeExibicao = new  Usuario().NomeUsuario(Session["Nome"].ToString());
            <h3>Olá, @NomeExibicao </h3>


    <p>@Html.ActionLink("Gerenciar Usuários", "Index", "Usuario")</p>
}
    </div>
</div>

